APP_NAME=GuisedUp
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=guisedup
DB_USERNAME=guisedup
DB_PASSWORD=secret

EMBEDDING_SERVICE_URL=http://localhost:8001
EMBEDDING_USE_MOCK=true

SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1
